 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;500;600;700&family=PT+Sans&family=Poppins:wght@200;300;400;500;600;800&display=swap');

body{
    background-color: black;
}
* a{
    text-decoration: none;
}

.container{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3.2fr;
    column-gap: 4px;

}

.box{
    display: grid;
    row-gap: 8px;
}
.box1{
    background-color: rgb(22, 22, 22);
    width: 23vw;
    height: 24vh;
    border-radius: 8px;
    gap: 0px;
}
#logo-spotify{
    width: 102px;
    margin-top: 20px;
    margin-left: 17px;
    cursor: pointer;
}

.nav-spotify{
    display: flex;
    align-items: center;
    
}
.home-spotify{
    width: 35px;
    margin-top: 0px;
    margin-left: 26px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    gap: 15px;
}
#searchIcon{
    color: grey;
}
#searchIcon:hover{
    color: white;
    cursor: pointer;
}

#homeIcon{
    color: white;
}
#homeIcon:hover{
    cursor: pointer;
}

.box2{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background-color: rgb(22, 22, 22);
    width: 23vw;
    height: 61vh;
    border-radius: 8px;
    text-wrap: wrap;
}

/* Side bar - 2nd box - Header - Your Library */
.box2-head{
    /* background-color: aqua; */
      position: sticky;
      top: 0px;
      margin: 0px;
      padding: 0px;
    max-height: 30px;
    margin: 15px 22px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(114, 114, 114);
    cursor: pointer;
}

.yourLibrary:hover{
    color: white;
    cursor: pointer;
}

.fa-plus:hover{
    color: white;
    cursor: pointer;
}

/* create your first playlist wala section */
.box2-body1{
    background-color: rgb(22, 22, 22);
    padding-left: 10px;
    margin-right: 10px;
    /* margin-left: 10px; */
    padding-top: 0px;
    border-radius: 6px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    height: 116px;
    overflow: auto;
    overflow: hidden auto;
    gap: 20px;
}

/* Create Playlist */
.box2-body1-box1{
    background-color: #2b2a2a;
    margin-bottom: 25px;
    max-height: fit-content;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-radius: 6px;
    /* word-wrap: break-word; */
}

/* Browser Playlist */
.box2-body1-box2{
    background-color: #2b2a2a;
    margin-bottom: 30px;
    max-height: fit-content;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-radius: 6px;
}
.box2-body1-box1 :nth-child(1){
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.box2-body1-box1 :nth-child(2){
    font-weight: 400;
    font-size: 13px;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
}
.box2-body1-box1 :nth-child(3){
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 18px;
    background-color: white;
    color: rgb(24, 24, 24);
    border-radius: 30px;
}


.box2-body1-box2 :nth-child(1){
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.box2-body1-box2 :nth-child(2){
    font-weight: 400;
    font-size: 13px;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
}
.box2-body1-box2 :nth-child(3){
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 18px;
    background-color: white;
    color: rgb(24, 24, 24);
    border-radius: 30px;
}



.box2-body2{
    color: white;
    font-size: 0.7em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.box2-body2 > p{
    padding: 0;
    margin: 0;
}
.box2-body2 > p:hover{
    cursor: pointer;
}

.box2-body3{
    padding: 20px;
}
.box2-body3 > span{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70px;
}
.box2-body3 > span:hover{
    border: 1.2px solid white;
    /* font-weight: bold; */
    font-size: 1.02em;
    cursor: pointer;
}

.content-box{
    background-color: rgb(22, 22, 22);
    width: 75.1vw;
    height: 86.2vh;
    border-radius: 8px;
    column-gap: 5px;
}

.footer{
    margin-bottom: 0px;
    margin-top: 8px;
}
.footer-box{
    margin-bottom: 0.5px;
    height: 10vh;
    border-radius: 2px;
    row-gap: 0px;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.footer-box>div{
    margin-left: 20px;
}
.footer-box>span{
    text-align: right;
    position: relative;
    float: right;
    overflow:hidden;
    padding: 5px 10px;
    overflow: hidden;
}
.footer-box>span>button{
    padding: 5px 10px;
}


/* Container Box */
/* Content Box Header */
.content-box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    width: 100%;
    color: white;
    background-color: #0c0c0cbe;
    font-family: "poppins", sans-serif;
    overflow: hidden;
    border-radius: 5px 5px;

}
/* Header Sign */
.content-box-header-sign{
    color: white;
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 10px;
    padding: 0;
    margin-left: 10px;
    /* align-items: center; */
}
.content-box-header-sign p a{
    color: white;
    font-size: 28px;
    padding: 1px 12px;
    border-radius: 40px;
    
}
.content-box-header-sign p a:hover{
    border: 1px solid #2b2a2a;
    background-color: #2b2a2a;
    cursor: pointer;
}

/* Premium Support Download */
.content-box-header-btn{
    display: flex;
    gap: 15px;
    margin-right: 10px;
    font-weight: 600;
}
.content-box-header-btn p a{
    color: grey;
}

.content-box-header-btn p a:hover{
    color: white;
    cursor: pointer;
}
/* line */
.content-box-header-line{
    width: 1.5px;
    height: 22px;
    background-color: grey;
    /* border: 1px solid grey */
    
}
/* sign up btn */
.content-box-header-btn-signup{
    background: transparent;
    border: 0px;
}
.content-box-header-btn-signup a{
    color: grey;
    cursor: pointer;
    font-weight: 800;
}
.content-box-header-btn-signup a:hover{
    color: white;
    cursor: pointer;
}

/* Login btn */
.content-box-header-btn-login{
    background-color: white;
    border: 0px;
    border-radius: 30px;
    padding: 10px 25px;
    height: fit-content;
    margin-top: 9px;
}
.content-box-header-btn-login a{
    color: rgb(87, 87, 87);
    font-weight: 800;
    cursor: pointer;
}

.playlist1{
    height: 30px;
    width: 50px;
    background-color: white;
}







/* Content Box Footer */
.content-box-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    margin-left: 30px;
}

/* footer items */
.content-box-footer-item{
    font-family: "Poppins", sans-serif;
    row-gap: 0px;
    column-gap: 0px;
}
.content-box-footer-item h3 a{
    color: white;
    font-size: medium;
    font-weight: 600;
}
.content-box-footer-item p a{

    color: grey;
    font-size: medium;
    font-weight: 500;
}
.content-box-footer-item p a:hover{
    color: white;
    text-decoration: underline;
}

/* Footer Icon */
.content-box-footer-icon{
    display: flex;
    justify-content: left;
    margin: 30px;
    gap: 20px;
}
.content-box-footer-icon i{
    color: white;
    background-color: #2b2a2a;
    height: fit-content;
    width: fit-content;
    padding: 15px 16px;
    border-radius: 30px;
}
.content-box-footer-icon i:hover{
    cursor: pointer;
    background-color: grey;
}

.footer-line{
    margin-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 90%;
    background-color: grey;
}

/* Copyright */
#copyright{
    padding: 20px 45px;
    color: grey;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "poppins";
    gap: 10px;
}
